In [4]:
import pandas as pd
import json 

CIA = "Resources/CIA.csv"
Infection = "Resources/Infection.csv"
Death = "Resources/Death.csv"
ciadf = pd.read_csv(CIA, encoding="utf-8")
infectiondf = pd.read_csv(Infection, encoding="utf-8")
deathdf = pd.read_csv(Death, encoding="utf-8")

In [5]:
# "People and Society: Current Health Expenditure"
# "People and Society: Physicians density"
# "People and Society: Hospital bed density"
# "Geography: Area - total"
# "Economy: Real GDP (purchasing power parity)"
# "Economy: Real GDP per capita"
# "Economy: GDP (official exchange rate)"
# "People and Society: Population"


# These are the columns we need to keep in our CIA file, along with the countries
# "Austria", "France", "Portugal", "Greece", "Netherlands", "Indonesia", "India", "Mexico", "Thailand", "Iran"

In [20]:
ciadf[0]

KeyError: 0

In [13]:



cols=["Economy: Real GDP per capita""]

SyntaxError: EOL while scanning string literal (31343270.py, line 1)

In [3]:
infecteddf = infectiondf[["Austria", "France", "Portugal", "Greece", "Netherlands", "Indonesia", "India", "Mexico", "Thailand", "Iran"]]
infecteddf

,Austria,France,Portugal,Greece,Netherlands,Indonesia,India,Mexico,Thailand,Iran
0,NaN,French Guiana,NaN,NaN,Aruba,NaN,NaN,NaN,NaN,NaN
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...
1011,5754.0,0.0,0.0,0.0,0.0,3141.0,1594.0,0.0,0.0,124.0
1012,4559.0,0.0,2576.0,0.0,0.0,2717.0,1336.0,2418.0,2551.0,73.0
1013,2846.0,0.0,0.0,0.0,0.0,2457.0,1046.0,-111.0,0.0,213.0
1014,4316.0,63.0,0.0,53690.0,0.0,4707.0,1190.0,0.0,0.0,155.0
1015,4492.0,0.0,0.0,0.0,45.0,4873.0,-1223.0,1511.0,0.0,0.0

In [4]:
deathsdf = deathdf[["Austria", "France", "Portugal", "Greece", "Netherlands", "Indonesia", "India", "Mexico", "Thailand", "Iran"]]
deathsdf

,Austria,France,Portugal,Greece,Netherlands,Indonesia,India,Mexico,Thailand,Iran
0,NaN,French Guiana,NaN,NaN,Aruba,NaN,NaN,NaN,NaN,NaN
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
1011,13.0,0.0,0.0,0.0,0.0,27.0,8.0,0.0,0.0,6.0
1012,3.0,0.0,19.0,0.0,0.0,26.0,8.0,23.0,33.0,0.0
1013,2.0,0.0,0.0,0.0,0.0,34.0,53.0,16.0,0.0,5.0
1014,9.0,0.0,0.0,176.0,0.0,32.0,1375.0,0.0,0.0,4.0
1015,0.0,0.0,0.0,0.0,1.0,32.0,0.0,18.0,0.0,0.0