In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
CIA = "Resources/CIA.csv"
Infection = "Resources/Infection.csv"
Death = "Resources/Death.csv"
ciadf = pd.read_csv(CIA, encoding="utf-8")
infectiondf = pd.read_csv(Infection, encoding="utf-8")
deathdf = pd.read_csv(Death, encoding="utf-8")
deathsdf = deathdf[["Country/Region", "Austria", "France", "Portugal", "Greece", "Netherlands", "Indonesia", "India", "Mexico", "Thailand", "Iran"]]

infecteddf = infectiondf[["Country/Region","Austria", "France", "Portugal", "Greece", "Netherlands", "Indonesia", "India", "Mexico", "Thailand", "Iran"]]

0       Province/State
1              1/23/20
2              1/24/20
3              1/25/20
4              1/26/20
             ...
1011          10/29/22
1012          10/30/22
1013          10/31/22
1014           11/1/22
1015           11/2/22
Name: Country/Region, Length: 1016, dtype: object

In [14]:
deathdf.plot.line
plt.show

In [6]:
infectiondf.head()

,Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antarctica,Antigua and Barbuda,Argentina,Armenia,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Winter Olympics 2022,Yemen,Zambia,Zimbabwe
0,Province/State,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1/23/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
2,1/24/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1/25/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1/26/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0